---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Aceptado">
    <h1>Logrado!!</h1>
    <script type="text/javascript" src="https://dl.dropboxusercontent.com/s/qhmfmwu7ckig9l2/fartificiales.js"></script>
</Layout>

<style>
    html {
        background-color:#ffff;
    }

    h1 { 
        padding-top: 20%;
        font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
     }
</style>